*{
    margin: 0;
}
header{
    background-color: #fff;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo_header{
    display: flex;
    align-items: center;
    padding-left: 130px;
}
.logo_header img{
    margin-left: 15px;
}
nav{
    display: flex;
    float: right;
}
ul{
    display: block;
    list-style-type: none;
    justify-content: flex-end;
}
li{
    display: inline;
    padding: 10px;
}
a{ 
    font-family: Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;    
}
a:active{
    text-decoration: none;
}
.section1{
    background: url(/images/illustration_principale.jpg);
    background-size: cover;
    height: 800px;
}
.section1 p{
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color: #bfc0cd;
    line-height: 2em;

}
.section1 h5{
    padding-bottom: 40px;
}
button{
    font-family: 'arial';
    font-weight: 400;
    font-size: 18px;
    color: #ffff;
    background-color: #f3a808f5;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
    border-style: none;
}
button:hover{
    opacity: 90%;
}
h1{
    font-family: 'volkhov-bold';
    font-weight: 400;
    font-size: 84px;
    color: #fff;
    text-align: left;
    
}
h2{
    font-family: 'volkhov-regular';
    font-weight: 700;
    font-size: 50px;
    color: #14183e;
    
}
h3{
    font-family: 'poppins-regular';
    font-weight: 600;
    font-size: 18px;
    color: #5e6282;
    
}
h4{
    font-family: 'poppins-regular';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    
}
h5{
    font-family: 'poppins-bold';
    font-weight: 700;
    font-size: 20px;
    color: #df6951;
    text-transform: uppercase;
}
.section2{
    background: url(/images/decor_1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    
}
.section2 h2 h3{
    text-align: center;
}
.plat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.card{
    width: 320px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 40px;
}
figcaption{
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 2em;
    color: #5e6282;
    text-align: center;
    margin: 20px;
}
.maki{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.card2{
    width: 250px;
    margin-right: 40px;
}
.card2:hover {
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    background-image: url(/images/decoration_rose.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.card2 img{
    padding-left: 50px;
}
.produit{
    color: #1e1d4c;
}
.section3 p{
    font-size: 16px;
    color: #3e3f43;
    text-align: justify;
}
.section3{
    background: url(/images/illustration_chef.jpg) no-repeat;
    background-size: cover;
    display: block;
}
.video img{
    width: 305px;
    height: 160px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 150px;
}
article{
    display: block;
    margin-left: 150px;
    padding-top: 100px;

}
.section3 article h4{
    max-width: 640px;
    line-height: 2em;
    text-align: justify;
}
.illustration{
    
    padding: 0;
    position: relative;
    z-index: 1;
    translate: -150px;
   

}
.rouge{
    color: #df6951;
}
.titre_commande{
    color: #22232c;
}
.section4{
    background-image: url(/images/illustration_commander.jpg);
    background-size: cover;
    display: block;
    height: 1080px;
    justify-content: flex-end;

}
.section4 article{
    display: block;
    padding-top: 500px;

}
.section5{
    background-image: url(/images/);
    font-family: 'poppins-regular';
    font-weight: 700;
    font-size: 16px;
    color: #8d8d8d;
    text-align: center;
    
}
.contenu-formulaire{
    width: 1020px;
    height: 560px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
}
.formulaire1{
    width: 510px;
    padding: 50px 0 20px 50px;
    text-align: left;
}
.formulaire2{
    width: 510px;
    text-align: start;
    padding: 20px 0 0 50px;

}
.champ{
    margin-top: 20px;
}
.formulaire{
    font-size: 16px;
    color: #000;
}
footer{
    font-size: 16px;
}
footer,.formulaire,.formulaire button,.section3 p{
    font-family: 'poppins-regular';
    font-weight: 400;
}
.titre_footer,.titre_commande,.produit{
    font-family: 'poppins-bold';
    font-weight: 400;
    font-size: 16px;
}
footer a{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    }