*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    
}
@media screen and (max-width: 650px){
    body{
        overflow-x: hidden;
    }
}
header{
    background-color: #fff;
    height: 70px;
    width: 100%;
    z-index: 9;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.logo_header{
    padding-left: 150px;
    vertical-align: middle;
}
.logo_header img:first-child{
    margin-right: 15px;
    animation: rotation3d 10s linear infinite;

}
nav{
    float: right;
    padding-right: 180px; 
    height: 100%;  
    
}
nav img{
    opacity: 0;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    padding: 10px;
}
a{ 
    font-family: Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;    
}
a:active{
    text-decoration: none;
}
@media screen and (max-width: 650px){
    header{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 9;
    }
    .logo_header{
        display:inline-flex;
        padding-left: 5%;
        width: 50%;
        justify-items: center;
        
    }
    header a{
        display: none;
    }
    nav{
        display: flex;
        padding-right: 5%;
    }
    nav img{
        opacity: 1;
        
        
    }

    
}
                                                 /* section 1 */
.section1{
    background: url(/images/illustration_principale.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
}
.section1 p{
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color: #bfc0cd;
    line-height: 2em;

}
.section1 h5{
    padding-bottom: 40px;
}
.rose1{
    background-image: url(/images/souligne_rose.svg);
    background-repeat: no-repeat;
    background-position: 0px 290px;
    
}
.button-découvrir{
    font-family: 'arial';
    font-weight: 400;
    font-size: 18px;
    color: #ffff;
    background-color: #f3a808f5;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
    border-style: none;
    transition: transform 0.2s;
}
button:hover{
    opacity: 90%;
    cursor: pointer;
    transform: scale(1.1);
}
h1{
    font-family: 'volkhov-bold';
    font-weight: 400;
    font-size: 84px;
    color: #fff;
    text-align: left;
    
}
h2{
    font-family: 'volkhov-regular';
    font-weight: 700;
    font-size: 50px;
    color: #14183e;
    
}
h3{
    font-family: 'poppins-regular';
    font-weight: 600;
    font-size: 18px;
    color: #5e6282;
    margin-bottom: 30px;
    
}
h4{
    font-family: 'poppins-regular';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    
}
h5{
    font-family: 'poppins-bold';
    font-weight: 700;
    font-size: 20px;
    color: #df6951;
    text-transform: uppercase;
}
@media screen and (max-width: 650px){
    .section1{
        padding: 0;
    }
    .section1 article{
        padding: 5%;
        margin: 0;
        text-align: center;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    .rose1{
         background-position: 135px 135px; 
         background-size: 50%;
    }
}
                                                     /* Section 2 */
.section2{
    background: url(/images/decor_1.svg);
    background-repeat: no-repeat;
    background-position: 97% 3%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    
}
.section2 h2 h3{
    text-align: center;
}
.plat{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.card{
    width: 320px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 40px;
    
}
.section2 figcaption{
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    line-height: 2em;
    color: #5e6282;
    text-align: center;
    margin: 20px;
}
.maki{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
    
}
.card2{
    width: 250px;
    margin-right: 40px;
    position: relative;
    
}
.card2:hover {
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    
}
.card2 img:nth-child(2){
    position: absolute;
    bottom: -35px;
    left: -35px;
    opacity: 0;
    z-index: -1;
}
.card2:hover img:nth-child(2){
    opacity: 1;
    animation-play-state:running;
    animation-name: rotation;
    animation-duration: 2s;
}
@keyframes rotation{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
}
}
.produit{
    color: #1e1d4c;
}
@media screen and (max-width: 650px){
    .plat{
        flex-wrap: nowrap;
        
    }
    .plat .card{
        opacity: 0;
        margin: 0;
    }
    .plat .card:nth-child(1){
        animation: card1 19.5s 0s infinite;
    }
    @keyframes card1{
        0%{ 
            opacity: 0;
            transform: translateX(200%);
        }
        2.25%{
            opacity: 1;
            transform: translateX(100%);

        }
        33%{
            opacity: 1;
            transform: translateX(100%);
        }
        35.25%{
            opacity: 0;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(0%);
        }
    }
    .plat .card:nth-child(2){
        animation: card2 19.5s 0s infinite;
    } 
    @keyframes card2 {
        0%{ 
            opacity: 0;
            transform: translateX(100%);
        }
        35.25%{
            opacity: 0;
            transform: translateX(100%);
        }
        37.50%{
            opacity: 1;
            transform: translateX(0);
        }
        66%{
            opacity: 1;
            transform: translateX(0);
        }
        68.25%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 0;
            transform: translateX(-100%);
        }
    }
    .plat .card:nth-child(3){
        animation: card3 19.5s 0s infinite;
    }
    @keyframes card3 {
        0%{ 
            opacity: 0;
            transform: translateX(0%);
        }
        68.25%{
            opacity: 0;
            transform: translateX(0%);

        }
        70.25%{
            opacity: 1;
            transform: translateX(-100%);
        }
        97.75%{
            opacity: 1;
            transform: translateX(-100%);
        }
        100%{
            opacity: 0;
            transform: translateX(-200%);
        }
    }
    .card{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 320px;
        margin-left: 1rem;
    
    }
    .maki{
        display: flex;
        flex-direction: row;
    }
    .maki .card2 figure{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }
    .maki .card2 figure figcaption{
        flex-direction: column;
        text-align: left;
        margin: 0;
        font-size: 16px;

    }
    .maki .card2 figure img{
        max-width: 100px;
        
    }
    .card2:hover img:nth-child(2){
        display: none;
    }
    .card2 img:nth-child(2){
        display: none;
    }
    .card2:hover{
        box-shadow: none;
    }
}   

                                                     /* Section 3 */
.section3 p{
    font-size: 16px;
    color: #3e3f43;
    text-align: justify;
}
.section3{
    background: url(/images/illustration_chef.jpg) no-repeat;
    background-size: cover;
    display: block;
}
.video{
    position: relative;
    width: 305px;
    height: 160px;
    top: 100px;
    margin-left: 150px;
    border-radius: 20px;
    overflow: hidden;
}
.video img{
    width: 100%
}
.button-play{
    position: absolute;
    width: 80px;
    bottom: 40px;
    left: 120px;
    background-color: #fff;
    border-radius: 50%;
}
.button-play img{
    width: 72px;
    margin: 3px;
    display: flex;
    justify-items: center;
    
}
.button-play img:hover{
    opacity: 90%;
    cursor: pointer;
}
.rose2{
    background-image: url(/images/souligne_rose.svg);
    background-repeat: no-repeat;
    background-position: 0px 80px;

}
.section3 article{
    display: block;
    margin-left: 150px;
    padding-top: 150px;
}
.section3 article h4{
    max-width: 640px;
    line-height: 2em;
    text-align: justify;
}
.illustration{
    display: flex;
    position: relative;
    top: 300px;
}
.illustration .chef-caché{
    display: none;
}
.illustration figure{
    border: none;
}
.rouge{
    color: #df6951;
}
.titre_commande{
    color: #22232c;
}
@media screen and (max-width: 650px){
    .section3{
        background-size: 100%;
        background-image: none;
    }
    .illustration {
        display: block;
        margin: 0;
        top:0;
    }
    .illustration .chef-caché{
        width: 100%;
        display: flex;   
    }
    .illustration figure{
        border: none;
        padding: 0;
        margin: 0;
    }
    .section3 article{
        display: none;
    }
   .video{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 95px;
    border-radius: 0;
    
   }
   .video .button-play{
    top: 70px;
    left: 200px;
    height: 80px;
   }
}
                                                 /* Section 4 */
.section4{
    background-image: url(/images/illustration_commander.jpg);
    background-size: cover;
    display: block;
    padding-top: 430px;
    padding-bottom: 100px;
    padding-left: 120px;

}
.section4 article{
    display: block;
    max-width: 390px;
}
.conteneur-lien{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.Conteneur-commander{
    display: block;
}

.Commander_jadoo{
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color: #5e6282;
}

.Commander_jadoo p{
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

.conteneur-lien .Commander_jadoo{
    display: block;
    white-space: nowrap;
    margin-bottom: 40px;
}
.Conteneur-commander .Commander_jadoo img, .Conteneur-commander .Commander_jadoo figcaption{
    display: inline-block;
    align-items: center;

}
@media screen and (max-width: 650px){
    .section4{
        padding: 5%;
        text-align: center;
        background-image: none;    
    }
    .Commander_jadoo{
        font-size: 14px;
    }
    .section4 .conteneur-lien{
        justify-content: center;
    }
    
}
                                                  /* Section 5 */
.section5{
    font-family: 'poppins-regular';
    font-weight: 700;
    font-size: 16px;
    color: #8d8d8d;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 100px 8% 100px 8%;

}
.titre-section5{
    padding: auto;
    margin-bottom: 40px ;
}
.section5 article{
    width: 100%;
}
.contenu-formulaire{
    display: table;
    width: 100%;
    max-width: 1000px;
    height: 560px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 30px;
    display: flex; 
    overflow: hidden;
    margin: auto;
    
    
}
.contenu-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    

}
.formulaire1{
    padding: 50px 0 20px 50px;
    text-align: left;
    margin-top: 20px;
}
.formulaire2{
    text-align: start;
    padding: 20px 0 0 50px;
    display: block;
    text-align: center;
}
.contenu-image{
    width: 50%;
    background-image: url(/images/illustration_formulaire.jpg);
    background-size: cover;
}
.champ{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    line-height: 2em;
    width: 90%;
    margin-right: 15px;
}
input{
    border: transparent;
    box-shadow: 0 1px 0 #999;
    outline: 0;
}
input:focus{
    box-shadow: 0 1px 0 #1886ff;
    
}
.champ-inline{
    display: flex;
    flex-direction: row;
    width: 415px;
    text-align: left;
}
.champ{
    text-align: left;
}
.button-formulaire{
    font-family: arial;
    font-weight: 400;
    font-size: 18px;
    width: 120px;
    height: 50px;
    background-color: #1886ff;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    transition: transform 0.2s;
    
}
.formulaire{
    font-size: 16px;
    color: #000;
}
@media screen and (max-width: 650px){
    h2{
        font-size: 40px;
    }
    .formulaire1{
        text-align: center;
        padding: 20px;
        
    }
    .formulaire2{
        padding: 0;

    }
    .contenu-text{
        width: 100%;
    }
    .contenu-formulaire{
        box-shadow: none;
        overflow:visible;
    }
    .champ-inline{
        flex-direction: column;
    }
    .button-formulaire{
        margin: auto;
        margin-top: 50px;
    }
}
                                                   /* Footer */
footer{
    font-size: 16px;
    background-color: #f3f3f3;
    font-family: poppins-regular;
    font-size: 18px;
    padding: 50px 10% 30px 10%;  
    
}
.contenu-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.footer2{
    line-height: 2em;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px; 
}
.footer2 div{
    display: inline-block;
    vertical-align: top;
}
.footer2p1{
    margin-right: 40px;
}
footer,.formulaire,.formulaire button,.section3 p{
    font-family: 'poppins-regular';
    font-weight: 400;
}
.titre_footer,.titre_commande,.produit{
    font-family: 'poppins-bold';
    font-weight: 400;
    font-size: 16px;
}
.button-footer{
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.2s;

}
.footer1{
    line-height: 2em;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    

}
.footer1 img:first-child{
    padding-right: 20px;
    -name:  rotation2, translation3d;
    animation-delay:  5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.footer3{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    vertical-align: top;
    line-height: 2em;
}

.copyright{
    text-align: center;
}
a:visited {
    text-decoration: none;
    }
@keyframes translation3d{
    0% {
        transform: perspective(100px) translate3d(20px, 0px, 0px);
        
    }
    50% {
        transform: perspective(100px) translate3d(0px, 0px, 50px);
        
    }
    
    100% {
        transform: perspective(100px) translate3d(20px, 0px, 0px);
        
    }
}
@keyframes rotation2{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
      50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(360deg);
    }
}